@page "/"
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>This is the @(Configuration["Dashboard:RepositoryOwner"])/@(Configuration["Dashboard:RepositoryName"]) repository</h1>

Welcome to your new app.
