@inherits LayoutComponentBase

    <Navbar />
    <div class="d-none m-2" id="token-prompt">
        <div class="card">
            <div class="card-header">
                <span class="github-name" data-github-type=""></span> Token Required
            </div>
            <div class="card-body">
                <p class="card-text">
                    A <span class="github-name" data-github-type=""></span> access token is required to load the data for this website.
                </p>
                <p class="card-text">
                    Generate a new token with at least the <code>public_repo</code> scope and enter it into the form below.
                </p>
                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="github-token"><span class="github-name" data-github-type=""></span> Token</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <span class="fa-brands fa-github" aria-hidden="true"></span>
                                &nbsp;
                                <span class="fa-solid fa-key" aria-hidden="true"></span>
                            </div>
                            <input type="password" autocomplete="off" class="form-control" id="github-token" placeholder="ghp_repo-scoped-token" data-bs-toggle="tooltip" data-bs-title="The GitHub access token must have at least the public_repo scope" data-1p-ignore>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="#" id="new-token-link" class="btn btn-github" role="button" target="_blank" rel="noopener">
                            Generate token
                            <span class="fa-solid fa-plus" aria-hidden="true"></span>
                            <span class="fa-brands fa-github" aria-hidden="true"></span>
                            <span class="fa-solid fa-key" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" id="save-token">Save and Reload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-warning d-none mx-2" id="token-invalid" role="alert">
        <h5 class="fw-bolder">
            <span class="fa-stack">
                <i class="fa-solid fa-key fa-stack-1x"></i>
                <i class="fa-solid fa-ban fa-stack-1x text-danger"></i>
            </span>
            Your <span class="github-name" data-github-type=""></span> access token is invalid.
        </h5>
        <p>
            Possible causes:
            <ul class="fw-light">
                <li id="token-mismatch"></li>
                <li>The token has been deleted or regenerated.</li>
                <li>The token has expired.</li>
                <li>The token does not have the correct scopes.</li>
            </ul>
        </p>
    </div>
    <div class="alert alert-danger d-none m-2" id="error" role="alert">
        Failed to load benchmark data.
    </div>
    <header class="d-none" id="header">
        <form id="data-select" method="get">
            <div class="g-3 row row-cols-6">
                <div class="input-group col">
                    <label class="input-group-text col-auto col-lg-1" for="repository">
                        Repository &nbsp;
                        <span class="fa-solid fa-code" aria-hidden="true"></span>
                    </label>
                    <select class="form-select" id="repository" name="repo" disabled>
                    </select>
                </div>
                <div class="input-group col">
                    <label class="input-group-text col-auto col-lg-1" for="branch">
                        Branch &nbsp;
                        <span class="fa-solid fa-code-branch" aria-hidden="true"></span>
                    </label>
                    <select class="form-select" id="branch" name="branch" disabled>
                        <option>Loading...</option>
                    </select>
                </div>
                <div class="col col-auto">
                    <button class="btn btn-primary" id="load-data" type="submit" data-bs-toggle="tooltip" data-bs-title="Loads the benchmark data for the selected repository and branch" disabled>
                        Load data &nbsp;
                        <span class="fa-solid fa-cloud-arrow-down" aria-hidden="true"></span>
                        <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
        <hr />
        <div class="header-item">
            <strong class="header-label">
                <span class="fa-regular fa-clock fa-fw" aria-hidden="true"></span>
                Last Updated:
            </strong>
            <span id="last-update">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </span>
        </div>
        <div class="header-item">
            <strong class="header-label">
                <span class="fa-brands fa-github fa-fw" aria-hidden="true"></span>
                Repository:
            </strong>
            <a id="repository-link" href="" rel="noopener" target="_blank">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </a>
        </div>
        <div class="header-item">
            <strong class="header-label">
                <span class="fa-solid fa-code-branch fa-fw" aria-hidden="true"></span>
                Branch:
            </strong>
            <a id="branch-link" class="font-monospace text-decoration-none" href="" rel="noopener" target="_blank">
                <div class="spinner-grow spinner-grow-sm text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </a>
        </div>
        <div class="header-item">
            <strong class="header-label">
                <span class="fa-solid fa-code-commit fa-fw" aria-hidden="true"></span>
                Commit:
            </strong>
            <a id="commit-link" class="font-monospace text-decoration-none" href="" rel="noopener" target="_blank">
                <div class="spinner-grow spinner-grow-sm text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </a>
        </div>
    </header>
    <main class="body-content container-fluid d-none" id="main"></main>
    <hr />
    <footer>
        <p>
            &copy; Martin Costello 2024 |
            Powered by <a rel="noopener" href="https://github.com/martincostello/benchmarkdotnet-results-publisher">benchmarkdotnet-results-publisher</a>
            <button class="btn btn-primary btn-sm d-block d-none float-end" id="download-json" type="button">
                Download as JSON
                <span class="fa-solid fa-file-arrow-down" aria-hidden="true"></span>
            </button>
        </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
