@inherits LayoutComponentBase

<Navbar />
<header class="d-none" id="header">
    <form id="data-select" method="get">
        <div class="g-3 row row-cols-6">
            <div class="input-group col">
                <label class="input-group-text col-auto col-lg-1" for="repository">
                    Repository &nbsp;
                    <span class="fa-solid fa-code" aria-hidden="true"></span>
                </label>
                <select class="form-select" id="repository" name="repo" disabled>
                </select>
            </div>
            <div class="input-group col">
                <label class="input-group-text col-auto col-lg-1" for="branch">
                    Branch &nbsp;
                    <span class="fa-solid fa-code-branch" aria-hidden="true"></span>
                </label>
                <select class="form-select" id="branch" name="branch" disabled>
                    <option>Loading...</option>
                </select>
            </div>
            <div class="col col-auto">
                <button class="btn btn-primary" id="load-data" type="submit" data-bs-toggle="tooltip" data-bs-title="Loads the benchmark data for the selected repository and branch" disabled>
                    Load data &nbsp;
                    <span class="fa-solid fa-cloud-arrow-down" aria-hidden="true"></span>
                    <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="header-item">
        <strong class="header-label">
            <span class="fa-regular fa-clock fa-fw" aria-hidden="true"></span>
            Last Updated:
        </strong>
        <span id="last-update">
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </span>
    </div>
    <div class="header-item">
        <strong class="header-label">
            <span class="fa-brands fa-github fa-fw" aria-hidden="true"></span>
            Repository:
        </strong>
        <a id="repository-link" href="" rel="noopener" target="_blank">
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </a>
    </div>
    <div class="header-item">
        <strong class="header-label">
            <span class="fa-solid fa-code-branch fa-fw" aria-hidden="true"></span>
            Branch:
        </strong>
        <a id="branch-link" class="font-monospace text-decoration-none" href="" rel="noopener" target="_blank">
            <div class="spinner-grow spinner-grow-sm text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </a>
    </div>
    <div class="header-item">
        <strong class="header-label">
            <span class="fa-solid fa-code-commit fa-fw" aria-hidden="true"></span>
            Commit:
        </strong>
        <a id="commit-link" class="font-monospace text-decoration-none" href="" rel="noopener" target="_blank">
            <div class="spinner-grow spinner-grow-sm text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </a>
    </div>
</header>
<main class="body-content container-fluid" id="main">
    @Body
</main>
<hr />
<footer>
    <p>
        &copy; Martin Costello 2024 |
        Powered by <a rel="noopener" href="https://github.com/martincostello/benchmarkdotnet-results-publisher">benchmarkdotnet-results-publisher</a>
        <button class="btn btn-primary btn-sm d-block d-none float-end" id="download-json" type="button">
            Download as JSON
            <span class="fa-solid fa-file-arrow-down" aria-hidden="true"></span>
        </button>
    </p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
